{% extends "questionapp/base.html" %}
{% block content %}
{% for post in posts %}
<div class="card text-center">
	<div class="card-header">
		<img class="rounded-circle article-img" src="{{ post.author.account.image.url }}">
		{{ post.author }}
	</div>
	<div class="card-body">
		<a href="{% url 'detail-view' post.id %}" class="btn btn-primary">{{ post.title }}</a><br><br>
		<p class="card-text">{{ post.content }}</p>
	</div>
	<div class="card-footer text-muted">
		Posted on {{ post.date_posted|date:"F d, Y" }}
	</div>
</div><br>
{% endfor %}
{% endblock content %}